//Colors
@import "../../assets/styles/colors.scss";

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 0;
    z-index: 99;
    background-color: $bg-dark-blue;

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        width: 100%;
        padding: 37px 100px;
        z-index: 3;
    }

    .navbar-logo{
        color: white;
        text-decoration: none;
        font-weight: 800;
        font-size: 32px;
    }

    .menu-img {
        display: none;
    }

    .nav {
        display: flex;
        gap: 50px;
        list-style: none;
        white-space: nowrap;
    }

    .nav * {
        box-sizing: border-box;
        transition: all .35s ease;
    }

    .nav li {
        display: inline-block;
        list-style: outside none none;
        padding: 0;
    }

    .nav a {
        padding: .5em .8em;
        color: $white;
        position: relative;
        text-decoration: none;
        font-size: 23px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .nav a:hover {
        color: $light-blue;
        transition: all .35s ease;
    }
}

.purple-underline {
    margin-top: 4px;
    text-decoration: underline!important;
    text-decoration-color: $purple!important;
    text-decoration-thickness: 3px!important;
    transition: 225ms ease-in-out;
}

.buger-menu-wrapper {
    display: none!important;
    width:100px!important;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.buger-menu{
    width: 30px;
    height: 30px;
    margin: 4px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 10;

    div {
        width: 60px;
        height: 60px;
        margin: 20px;
        position: relative;
    }

    span {
        background: #fff;
        width: 30px;
        height: 2px;
        border-radius: 5px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 225ms, width 225ms;
    }

    .line-1 {
        transform: translate(-50%, -25px);
    }

    .line-3 {
        transform: translate(-50%, 20px);
    }
}

.openmenu .line-1 {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.openmenu .line-2 {
    width: 0;
}

.openmenu .line-3 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.mobile-menu-wrapper {
    top:100px;
    left: 0;
    position: absolute;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: rgba(20, 29, 47, 0.8);
    z-index: 8;
    transform: translateX(100vw);
    transition: all 225ms ease-in-out;
    .nav-mobile {
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        list-style: none;
        padding-left: 0px;
    }
    
    .nav-mobile * {
        box-sizing: border-box;
        transition: all .35s ease;
    }
    
    .nav-mobile li {
        padding-inline-start: 0;
    }
    
    .nav-mobile a {
        padding: .5em .8em;
        color: $white;
        position: relative;
        text-decoration: none;
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        text-transform: uppercase;
    }

    .nav-mobile a:hover {
        color: $light-blue;
        transition: all .35s ease;
    }
}

.show-mobile-menu {
    transform: translateX(0);
}


@media screen and (max-width: 1100px) {

    header {
        .logo {
            padding: 0 0 0 30px;
        }
    }
    .nav {
        display: none!important;
    }  
    
    .buger-menu-wrapper {
        display: flex!important;
    }
}