<header>
  <div class="logo">
    <a class="navbar-logo" href="#home">
      <span style="color: #00bee8">B</span>
      <span>e</span>
      <span>n</span>
      <span style="color: #4b47ff">T</span>
      <span>i</span>
      <span>e</span>
      <span>t</span>
      <span>z</span>
    </a>

    <ul class="nav">
      <li><a (click)="underlineNav($event)" href="#aboutMe">About me</a></li>
      <li><a (click)="underlineNav($event)" href="#skills">My skills</a></li>
      <li><a (click)="underlineNav($event)" href="#portfolio">Portfolio</a></li>
      <div class="language-selection">
        @if (this.showGermanVersion) {
        <div class="icon-container">
          <img src="assets/img/german.png" alt="german_icon">
        </div>
        } @else {
        <div class="icon-container">
          <img src="assets/img/english.png" alt="english_icon">
        </div>
        }
      </div>
    </ul>

    <div class="mobile-menu-wrapper" id="nav-mobile">
      <ul class="nav-mobile">
        <li><a href="#aboutMe" (click)="closeMenuAndScroll('#aboutMe')">About me</a></li>
        <li><a href="#skills" (click)="closeMenuAndScroll('#skills')">My skills</a></li>
        <li><a href="#portfolio" (click)="closeMenuAndScroll('#portfolio')">Portfolio</a></li>
        <li><a href="#contactMe" (click)="closeMenuAndScroll('#contactMe')">Contact</a></li>
      </ul>
    </div>
    <div class="buger-menu-wrapper" (click)="toggleMenu()">
      <div class="buger-menu" id="buger-menu">
        <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
      </div>
    </div>
  </div>
</header>