<header>
  <div class="logo">
    <div class="navbar-logo" href="#home">
      <img src="assets/img/pictures-ben/ben_nameV8.png" alt="">
    </div>
    <ul class="nav">
      @if (this.showEnglishVersion) {
      <li><a (click)="underlineNav($event)" href="#aboutMe">About me</a></li>
      <li><a (click)="underlineNav($event)" href="#skills">My skills</a></li>
      <li><a (click)="underlineNav($event)" href="#portfolio">Portfolio</a></li>
      } @else {
      <li><a (click)="underlineNav($event)" href="#aboutMe">Über mich</a></li>
      <li><a (click)="underlineNav($event)" href="#skills">Meine Skills</a></li>
      <li><a (click)="underlineNav($event)" href="#portfolio">Portfolio</a></li>
      }
      <div class="language-selection">
        @if (this.showGermanVersion) {
        <div class="icon-container" (click)="this.toggleLanguage('english')">
          <img src="assets/img/icons/english.png" alt="english_icon">
        </div>
        } @if (this.showEnglishVersion) {
        <div class="icon-container" (click)="this.toggleLanguage('german')">
          <img src="assets/img/icons/german.png" alt="german_icon">
        </div>
        }
      </div>
    </ul>

    <div class="mobile-menu-wrapper" id="nav-mobile">
      <ul class="nav-mobile">
        <li><a href="#aboutMe" (click)="closeMenuAndScroll('#aboutMe')">About me</a></li>
        <li><a href="#skills" (click)="closeMenuAndScroll('#skills')">My skills</a></li>
        <li><a href="#portfolio" (click)="closeMenuAndScroll('#portfolio')">Portfolio</a></li>
        <li><a href="#contactMe" (click)="closeMenuAndScroll('#contactMe')">Contact</a></li>
        <div class="language-selection">
          @if (this.showGermanVersion) {
          <div class="icon-container" (click)="this.toggleLanguage('english'); toggleMenu()">
            <img src="assets/img/icons/english.png" alt="english_icon">
          </div>
          } @if (this.showEnglishVersion) {
          <div class="icon-container" (click)="this.toggleLanguage('german'); toggleMenu()">
            <img src="assets/img/icons/german.png" alt="german_icon">
          </div>
          }
        </div>
      </ul>
    </div>
    <div class="buger-menu-wrapper" (click)="toggleMenu()">
      <div class="buger-menu" id="buger-menu">
        <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
      </div>
    </div>
  </div>
</header>