<header>
  <div>
    <a class="navbar-logo" href="#home">
      <span style="color: #00bee8">B</span>
      <span>e</span>
      <span>n</span>
      <span style="color: #4b47ff">T</span>
      <span>i</span>
      <span>e</span>
      <span>t</span>
      <span>z</span>
    </a>
    <ul class="nav">
      <li><a href="#aboutMe">About</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#contactMe">Contact</a></li>
    </ul>
    <div class="buger-menu">
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 2H31"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          d="M1 16H31"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          d="M1 30H31"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </div>
  </div>
</header>
