<footer>
  <div class="footer-wrapper">
    <div class="footer-left">
      <a class="footer-logo" href="#home">
        <span style="color: #00bee8">B</span>
        <span>e</span>
        <span>n</span>
        <span style="color: #4b47ff">T</span>
        <span>i</span>
        <span>e</span>
        <span>t</span>
        <span>z</span>
      </a>
      <a
        class="imprint"
        href="/imprint.html"
        style="text-decoration: none"
        target="_blank"
        >Imprint</a
      >
    </div>
    <div class="footer-middle">© Benjamin Tietz 2023</div>
    <div class="footer-right">
      <a href="https://github.com/BenjaminTietz" target="_blank"
        ><img src="assets/img/icons/Github button.png"
      /></a>
      <a href="mailto:benjamin0tietz@gmail.com"
        ><img src="assets/img/icons/Email button.png"
      /></a>
      <a
        href="https://www.linkedin.com/in/benjamin-tietz-071ba0289/"
        target="_blank"
        ><img src="assets/img/icons/Linkedin button.png"
      /></a>
    </div>
  </div>
</footer>
