<section routerLink="/" id="aboutMe">
  <div class="about-wrapper">
    <img
      class="background-element"
      src="assets/img/background-elements/background-element_2.png"
    /><img />
    <div class="about-left">
      <div class="about-headline">About me</div>
      <span class="about-text"
        >Hello, my name is Benjamin. I’m a German-speaking web developer, based near Cologne, Germany. 
        During my time as the owner and manager of a small accommodation business in northern Croatia, I discovered my passion for IT. 
        I learned how to build WordPress based homepages.
        I managed our properties using a central occupancy calendar and linked it to all booking portals.
        Here I am - learned by doing and building applications and games - ready to be your next junior web developer. 
        Let’s get things done - together.</span
      >
      <div class="about-personal-wrapper">
        <div class="about-personal">
          <img src="assets/img/icons/bulb desktop.png" />
          <span
            >I built landing pages, WordPress-based websites, and several web apps, such as a Kanban-inspired project management tool and an OOP-based jump-and-run game.</span
          >
        </div>
        <div class="about-personal">
          <img src="assets/img/icons/puzzle desktop.png" />
          <span
            >My professional experience allows me to learn and apply new schemes and technologies fairly quickly. I also maintain clear communication and efficiency.</span
          >
        </div>
      </div>
    </div>

    <div class="about-right">
      <div class="ellipse">
        <img src="assets/img/hero character photo2.png" />
      </div>
      <div class="light-blue-line"></div>
    </div>
  </div>
</section>
