<div class="about-wrapper">
  <div class="about-left">
    <div class="about-headline">About me</div>
    <span class="about-text"
      >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea voluptates
      exercitationem atque voluptatibus alias animi, natus necessitatibus
      facilis expedita, reiciendis eveniet quidem distinctio vero! Maiores,
      illum harum. Eum, odio cupiditate.</span
    >
    <div class="about-personal-wrapper">
      <div class="about-personal">
        <img src="assets/img/icons/bulb desktop.png" />
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          eum facere corporis dicta laborum nemo recusandae sed, consequatur
          sint ipsam repellat placeat illo aspernatur aperiam sit eveniet
          provident numquam eos.</span
        >
      </div>
      <div class="about-personal">
        <img src="assets/img/icons/puzzle desktop.png" />
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          eum facere corporis dicta laborum nemo recusandae sed, consequatur
          sint ipsam repellat placeat illo aspernatur aperiam sit eveniet
          provident numquam eos.</span
        >
      </div>
    </div>
  </div>

  <div class="about-right">
    <div class="ellipse">
        <img src="assets/img/hero character photo2.png" />
    </div>
    <div class="light-blue-line"></div>
  </div>
</div>
