@import "../../styles.scss";

.skills-wrapper {
  position: relative;
  height: 60svh;
  width: 100%;
  max-width: $max-width;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $white;
  z-index: 10;
  padding: 100px 100px 0 100px;
  gap: 64px;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88px;
  height: 100px;
}

.skills-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 50%;
  max-width: calc($max-width / 2);
  height: 100%;
  gap: 60px;
  z-index: 5;

  img {
    width: 57px;
    height: 60px;
    transition: transform 0.175s ease-in-out;
  }

  p {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: center;
  }

  .icon-wrapper img:hover {
    transform: translateY(-10px) scale(1.05);
  }

  .icon-wrapper-angular img:hover {
    filter: invert(25%) sepia(85%) saturate(6818%) hue-rotate(337deg) brightness(81%) contrast(120%);
  }

  .icon-wrapper-typescript img:hover {
    filter: invert(50%) sepia(100%) saturate(2000%) hue-rotate(190deg) brightness(95%) contrast(100%);
  }

  //to-do filter doesnt match the color of the icon
  .icon-wrapper-javascript img:hover {
    filter: invert(68%) sepia(65%) saturate(400%) hue-rotate(12deg) brightness(114%) contrast(88%);
  }

  .icon-wrapper-html img:hover {
    filter: invert(50%) sepia(100%) saturate(3000%) hue-rotate(10deg) brightness(90%) contrast(110%);
  }

  //to-do filter doesnt match the color of the icon
  .icon-wrapper-firebase img:hover {
    filter: invert(40%) sepia(100%) saturate(2000%) hue-rotate(45deg) brightness(100%) contrast(95%);
  }

  //to-do filter doesnt match the color of the icon
  .icon-wrapper-git img:hover {
    filter: invert(25%) sepia(75%) saturate(5000%) hue-rotate(15deg) brightness(90%) contrast(120%);
  }

  .icon-wrapper-css img:hover {
    filter: invert(40%) sepia(100%) saturate(3000%) hue-rotate(210deg) brightness(95%) contrast(100%);
  }

  .icon-wrapper-rest-api img:hover {
    filter: invert(30%) sepia(70%) saturate(1500%) hue-rotate(350deg) brightness(85%) contrast(105%);
  }

  .icon-wrapper-scrum img:hover {
    filter: invert(20%) sepia(85%) saturate(4000%) hue-rotate(300deg) brightness(90%) contrast(115%);
  }

  //to-do filter doesnt match the color of the icon
  .icon-wrapper-material-design img:hover {
    filter: invert(30%) sepia(90%) saturate(3500%) hue-rotate(250deg) brightness(100%) contrast(110%);
  }


  .icon-wrapper-continually-learning {
    color: #9747FF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 88px;
    height: 100px;
    transition: all ease-in-out 175ms;

    img {
      width: 57px;
      height: 60px;
      transition: transform 0.175s ease-in-out;
    }

    &:hover .continually-learning-img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(180%) contrast(100%);
      transform: translateY(-10px) scale(1.05);
    }

    &:hover p {
      color: $white;
    }

    &:hover .hover-container {
      display: flex;
    }

    .hover-container {
      width: 188px;
      height: 129px;
      border-radius: 20px;
      background-color: #fff;
      position: absolute;
      bottom: 128px;
      left: -50px;
      display: none;

      ::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 26px;
        height: 17px;
        background-color: #fff;
        clip-path: polygon(0 0, 50% 100%, 100% 0);
      }

      .hover-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 17.92px;
          text-align: center;
          color: black;
          white-space: normal;
        }

        .interest-container {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex-wrap: wrap;
          width: 100%;
          height: 100%;

          .interest-content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            img {
              width: 32px;
              height: 32px;
            }

            p {
              font-size: 12px;
              font-weight: 700;
              line-height: 12.96px;
              text-align: center;
              color: black;
              white-space: normal;
            }
          }
        }
      }
    }
  }
}


.skills-background-element {
  position: absolute;
  width: 446px;
  height: 705px;
  top: 150px;
  left: -105px;
}

.skills-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  box-sizing: border-box;
  width: 50%;
  max-width: calc($max-width / 2);
  height: 100%;
  z-index: 5;
  position: relative;

  .short-purple-line {
    border: 4px solid $purple;
    width: 350px;
    position: absolute;
    right: -350px;
    z-index: 5;
    margin-top: 54px;
  }

  .skills-right-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: calc($max-width / 2);

    p {
      text-align: end;
    }

    .skills-headline-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      white-space: nowrap;
      width: 100%;

      .skills-headline {
        font-weight: 700;
        font-size: 90px;
        line-height: 108px;
        align-content: end;
        margin-right: 24px;
      }
    }

    button {
      width: 200px;
      height: 58px;
      border-radius: 10px;
      padding: 15px, 30px, 15px, 30px;
      gap: 10px;
      background-color: $light-green;
      color: $white;
      font-weight: 400;
      font-size: 23px;
      line-height: 27.6px;
      border-style: none;
      margin-top: 32px;

      &:hover {
        cursor: pointer;
        filter: drop-shadow(rgba(0, 0, 0, 0.25));
        background-color: $purple;
        transition: all ease-in-out 125ms;
        transform: scale(1.1);
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 19.2px;
    }

    h2 {
      font-weight: 700;
      font-size: 32px;
      line-height: 38.4px;
      text-align: end;
      text-wrap: nowrap;

      span {
        color: $purple;
      }
    }

    h3 {
      font-weight: 400;
      font-size: 16px;
      line-height: 19.2px;
      text-align: end;
    }
  }
}

.continually-learning-mobile {
  display: none;
  flex-direction: column;
  width: calc(100svw - 100px);
  box-sizing: border-box;

  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;

    span {
      color: $purple;
    }
  }

  h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
  }
}


.btn-mobile {
  display: none;
}



@media screen and (min-width: 1600px) {}

@media screen and (max-width: 1600px) {}

@media screen and (min-width: 1100px) {
  .continually-learning-mobile {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .icon-wrapper-continually-learning {
    img {
      width: 48px !important;
      height: 48px !important;
    }

    p {
      font-weight: 700 !important;
      font-size: 14px !important;
      line-height: 16.8px !important;
    }
  }

  .continually-learning-mobile {
    display: flex;
  }

  .skills-wrapper {
    align-items: flex-start;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding: 50px 50px 0 50px;
    height: fit-content;
    gap: 24px;
  }

  .skills-left {
    width: calc(100svw - 100px);
    box-sizing: border-box;
    flex: 0 0 75%;
    justify-content: space-evenly;
    max-width: unset;

    img {
      width: 42px;
      height: 45px;
    }

    h2 {
      font-size: 32px;
      line-height: 38.4px;
    }


    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 28.8px;
    }

    .icon-wrapper {
      gap: 10px;

      img {
        width: 48px;
        height: 48px;
      }

      p {
        font-size: 14px;
        font-weight: 700;
        line-height: 16.8px;
      }
    }
  }

  .skills-right {
    z-index: 6;
    max-width: unset;
    width: calc(100svw - 100px);
    box-sizing: border-box;

    .short-purple-line {
      margin-top: 22px;
    }

    .skills-right-content {
      width: 100%;

      h2 {
        display: none;
      }

      h3 {
        display: none;
      }

      .skills-background-element {
        z-index: 4;
      }

      .skills-headline-container {
        width: 100%;
        justify-content: flex-end;

        .skills-headline {
          font-weight: 700;
          font-size: 45px;
          line-height: 54px;
          align-content: end;
        }
      }
    }
  }



  .btn-desptop {
    display: none;
  }

}

@media screen and (max-width: 800px) {
  .skills-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 600px) {}

@media only screen and (max-width: 450px) {

  h2 {
    font-size: 26px !important;
    line-height: 32.4px !important;
  }

}