<section routerLink="/" id="skills">
  <div class="skills-wrapper">
    <div class="skills-left">
      <div class="icon-wrapper">
        <img src="assets/img/icons/Angular.png" />
        <p>Angular</p>
      </div>
      <div class="icon-wrapper">
        <img src="assets/img/icons/typescript.png" />
        <p>TypeScript</p>
      </div>
      <div class="icon-wrapper">
        <img src="assets/img/icons/Javascript.png" />
        <p>JavaScript</p>
      </div>
      <div class="icon-wrapper">
        <img src="assets/img/icons/html.png" />
        <p>HTML</p>
      </div>
      <div class="icon-wrapper">
        <img src="assets/img/icons/Firebase.png" />
        <p>Firebase</p>
      </div>
      <div class="icon-wrapper">
        <img src="assets/img/icons/git.png" />
        <p>Git</p>
      </div>
      <div class="icon-wrapper">
        <img src="assets/img/icons/css.png" />
        <p>CSS</p>
      </div>
      <div class="icon-wrapper">
        <img src="assets/img/icons/rest-api.png" />
        <p>Rest-Api</p>
      </div>
      <div class="icon-wrapper">
        <img src="assets/img/icons/scrum.png" />
        <p>Scrum</p>
      </div>
      <div class="icon-wrapper">
        <img src="assets/img/icons/material-design.png" />
        <p>Material design</p>
      </div>
    </div>
    <img
    class="skills-background-element"
    src="assets/img/background-elements/background-element_1.png"
  /><img />
    <div class="skills-right">
      <div class="skills-headline-wrapper">
        <div class="skills-headline">My skills</div>
        <div class="short-purple-line"></div>
      </div>
      <p>I have grown my frontend developments skills that have allowed me to create different real projects.</p>
      <button class="btn-desptop">Get in touch</button>
    </div>
    <button class="btn-mobile">Get in touch</button>
  </div>
</section>
