<section routerLink="/" id="skills">
  <div class="skills-wrapper">
    <div class="skills-left">
      <div class="icon-wrapper-angular icon-wrapper">
        <img src="assets/img/icons/Angular.png" />
        <p>Angular</p>
      </div>
      <div class="icon-wrapper-typescript icon-wrapper">
        <img src="assets/img/icons/typescript.png" />
        <p>TypeScript</p>
      </div>
      <div class="icon-wrapper-javascript icon-wrapper">
        <img src="assets/img/icons/Javascript.png" />
        <p>JavaScript</p>
      </div>
      <div class="icon-wrapper-html icon-wrapper">
        <img src="assets/img/icons/html.png" />
        <p>HTML</p>
      </div>
      <div class="icon-wrapper-firebase icon-wrapper">
        <img src="assets/img/icons/Firebase.png" />
        <p>Firebase</p>
      </div>
      <div class="icon-wrapper-git icon-wrapper">
        <img src="assets/img/icons/git.png" />
        <p>Git</p>
      </div>
      <div class="icon-wrapper-css icon-wrapper">
        <img src="assets/img/icons/css.png" />
        <p>CSS</p>
      </div>
      <div class="icon-wrapper-rest-api icon-wrapper">
        <img src="assets/img/icons/rest-api.png" />
        <p>Rest-Api</p>
      </div>
      <div class="icon-wrapper-scrum icon-wrapper">
        <img src="assets/img/icons/scrum.png" />
        <p>Scrum</p>
      </div>
      <div class="icon-wrapper-material-design icon-wrapper">
        <img src="assets/img/icons/material-design.png" />
        <p>Material Design</p>
      </div>
    </div>

    <img class="skills-background-element" src="assets/img/background-elements/background-element_1.png" /><img />
    <div class="skills-right">
      <div class="skills-headline-wrapper">
        @if (this.showEnglishVersion) { <div class="skills-headline">My skills</div>} @else { <div
          class="skills-headline">Meine Skills</div>}

        <div class="short-purple-line"></div>
      </div>
      @if (this.showEnglishVersion) { <p>I have successfully completed my training at a TÜV-certified training facility.
      </p>
      <p>During my training as a frontend developer, I was able to gain experience with various technologies such as
        JavaScript / TypeScript & Angular.</p>
      <p>I was able to realize several projects. I particularly enjoyed working in a team. I gained in-depth experience
        and expanded my knowledge.</p>} @else { <p>Ich habe meine Ausbildung an einem TÜV-zertifizierten
        Ausbildungsbetrieb erfolgreich abgeschlossen.</p>
      <p>Während meiner Ausbildung zum Frontend-Entwickler konnte ich Erfahrungen mit verschiedenen Technologien wie
        JavaScript / TypeScript & Angular sammeln.</p>
      <p>Ich konnte mehrere Projekte realisieren. Besonders viel Spaß hat mir die Arbeit im Team gemacht. Ich konnte
        vertiefte Erfahrungen sammeln
        und mein Wissen erweitern.</p>}

      @if (this.showEnglishVersion) { <button routerLink="/contact-me" fragment="contactMe" class="btn-desptop">Get in
        touch</button>}
      @else { <button routerLink="/contact-me" fragment="contactMe" class="btn-desptop">Kontaktieren</button>}
    </div>
    @if (this.showEnglishVersion) { <button class="btn-mobile">Get in touch</button>}
    @else { <button class="btn-mobile">Kontaktieren</button>}

  </div>
</section>