<section routerLink="/" id="portfolio">
  <div class="portfolio-wrapper">
    <img class="background-element-4" src="assets/img/background-elements/background-element_4.png" />
    <img class="background-element-5" src="assets/img/background-elements/background-element_5.png" />
    <div class="portfolio-headline-wrapper">
      <div class="portfolio-headline" data-aos="fade-left">
        <div class="short-purple-line"></div>
        <h2>Portfolio</h2>
        <div class="long-purple-line"></div>
      </div>
      @if (this.showEnglishVersion) { <p data-aos="zoom-in">Explore some of my projects and make sure you give them a
        try.</p>}
      @else { <p>Entdecken Sie einige meiner Projekte und probieren Sie sie aus.</p>}
    </div>
    <div class="portfolio-content-wrapper reverse">
      <img src="assets/img/projects/dabubble.png" data-aos="fade-left">
      <div class="portfolio-description align-right" data-aos="fade-right">
        @if (this.showEnglishVersion) { <h3>DABubble</h3>
        <p>Angular | TypeScript | Firebase</p>
        <span class="text-align-right">DABubble is a powerful chat application specifically designed for efficient and
          seamless communication
          within your team. Inspired by Slack, DABubble offers all the features you need for productive collaboration.
          <br><br> <strong>Strong together: DABubble promotes teamwork and efficiency by giving you the tools you need
            for smooth communication. Discover how DABubble can positively change your work
            environment!</strong></span>}
        @else {<h3>DABubble</h3>
        <p>Angular | TypeScript | Firebase</p>
        <span class="text-align-right">DABubble ist eine leistungsstarke Chat-Anwendung, die speziell für eine
          effiziente und reibungslose
          Kommunikation
          innerhalb Ihres Teams entwickelt wurde. Inspiriert von Slack bietet DABubble alle Funktionen, die Sie für eine
          produktive Zusammenarbeit benötigen.
          <br><br> <strong>Gemeinsam stark: DABubble fördert Teamarbeit und Effizienz, indem es Ihnen die Tools bietet,
            die Sie
            für eine reibungslose Kommunikation benötigen. Entdecken Sie, wie DABubble Ihre Arbeitsumgebung
            positiv verändern kann!</strong></span>}
        <div class="btn-container">
          <a href="https://dabubble.benjamin-tietz.com/index.html" target="_blank"><button class="btn-live-test">Live
              test</button></a>
          <a href="https://github.com/Simon-Kral/da-bubble" target="_blank"><button
              class="btn-github">Github</button></a>
        </div>
      </div>
    </div>
    <div class="portfolio-content-wrapper">
      <img src="assets/img/projects/join.png" data-aos="fade-right">
      <div class="portfolio-description align-left" data-aos="fade-left">
        @if (this.showEnglishVersion) { <h3>Join</h3>
        <p>JavaScript | HTML | CSS</p>
        <span>
          "Join" is a Kanban-inspired project management tool featuring task and contact
          creation, contact management, and a drag-and-drop dashboard for seamless organization. <br><br>
          <strong>It enhances productivity and collaboration with a user-friendly interface and efficient data
            storage.</strong>
        </span>}
        @else {<h3>Join</h3>
        <p>JavaScript | HTML | CSS</p>
        <span>
          „Join“ ist ein von Kanban inspiriertes Projektmanagement-Tool mit Aufgaben- und Kontakterstellung,
          Kontaktverwaltung und einem Drag-and-Drop-Dashboard für eine nahtlose Organisation. <br><br>
          <strong>Es verbessert die Produktivität und Zusammenarbeit mit einer benutzerfreundlichen Oberfläche und
            effizienter Datenspeicherung.</strong>
        </span>}
        <div class="btn-container">
          <a href="https://join.benjamin-tietz.com/" target="_blank"><button class="btn-live-test">Live
              test</button></a>
          <a href="https://github.com/BenjaminTietz/Join" target="_blank"><button class="btn-github">Github</button></a>
        </div>
      </div>
    </div>
    <div class="portfolio-content-wrapper reverse">
      <img src="assets/img/projects/el-pollo-loco.png" data-aos="fade-left">
      <div class="portfolio-description align-right" data-aos="fade-right">
        @if (this.showEnglishVersion) {
        <h3>El Pollo Loco</h3>
        <p>JavaScript | HTML | CSS | OOP</p>
        <span class="text-align-right">"EL Pollo Loco" is a hit-and-run game built with an OOP approach where players
          guide Pepe through levels,
          collecting items and defeating enemies. The goal is to overcome challenges, culminating in a final battle with
          the Endboss, a malevolent chicken. <br><br>
          <strong>Experience an engaging and interactive game that combines strategic thinking, quick reflexes, and a
            fun storyline!</strong>
        </span>
        } @else {
        <h3>El Pollo Loco</h3>
        <p>JavaScript | HTML | CSS | OOP</p>
        <span class="text-align-right">„EL Pollo Loco“ ist ein Hit-and-Run-Spiel mit einem OOP-Ansatz, bei dem die
          Spieler Pepe durch Levels
          führen,
          Gegenstände sammeln und Feinde besiegen. Das Ziel ist es, Herausforderungen zu meistern, die in einem letzten
          Kampf mit
          dem Endboss, einem bösartigen Huhn, gipfeln. <br><br>
          <strong>Erleben Sie ein spannendes und interaktives Spiel, das strategisches Denken, schnelle Reflexe und eine
            unterhaltsame Handlung kombiniert!</strong>
        </span>
        }
        <div class="btn-container">
          <a href="https://el-pollo-loco.benjamin-tietz.com/" target="_blank"><button class="btn-live-test">Live
              test</button></a>
          <a href="https://github.com/BenjaminTietz/El_Pollo_Loco" target="_blank"><button
              class="btn-github">Github</button></a>
        </div>
      </div>
    </div>
    <div class="portfolio-content-wrapper">
      <img src="assets/img/projects/pokedex.png" data-aos="fade-right">
      <div class="portfolio-description align-left" data-aos="fade-left">
        @if (this.showEnglishVersion) { <h3>Pokédex</h3>
        <p>JavaScript | HTML | CSS | API</p>
        <span>The "Pokédex" is a web project utilizing an API integration to dynamically render
          Pokémon cards. Users can explore a comprehensive collection of Pokémon, each with essential information and a
          dedicated detail view for in-depth characteristics and stats. <br><br>
          <strong>Discover and learn about Pokémon with an interactive and visually appealing platform!</strong>
        </span>}
        @else {<h3>Pokédex</h3>
        <p>JavaScript | HTML | CSS | API</p>
        <span>Der „Pokédex“ ist ein Webprojekt, das eine API-Integration verwendet, um Pokémon-Karten dynamisch
          darzustellen. Benutzer können eine umfassende Sammlung von Pokémon erkunden, jedes mit wichtigen Informationen
          und einer speziellen Detailansicht für ausführliche Eigenschaften und Statistiken. <br><br>
          <strong>Entdecken und erfahren Sie mehr über Pokémon mit einer interaktiven und optisch ansprechenden
            Plattform!</strong>
        </span>}
        <div class="btn-container">
          <a href="https://pokedex.benjamin-tietz.com/index.html" target="_blank"><button class="btn-live-test">Live
              test</button></a>
          <a href="https://github.com/BenjaminTietz/Pokedex" target="_blank"><button
              class="btn-github">Github</button></a>
        </div>
      </div>
    </div>
  </div>
</section>