<section routerLink="/" id="portfolio">
  <div class="portfolio-wrapper">
    <img
          class="background-element-4"
          src="assets/img/background-elements/background-element_4.png"
        />
    <img
          class="background-element-5"
          src="assets/img/background-elements/background-element_5.png"
        />
    <div class="portfolio-headline-wrapper">
      <div class="portfolio-headline">
        <div class="short-purple-line"></div>
        <h2>Portfolio</h2>
        <div class="long-purple-line"></div>
      </div>
      <p>This page is a sample of my work - please feel free to try them out.</p>
    </div>
    <div class="portfolio-content-wrapper">
      <img src="assets/img/projects/join.png">
      <div class="portfolio-description align-left">
        <h3>Join</h3>
        <p>JavaScript | HTML | CSS</p>
        <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </span>
      <div class="btn-container">
        <a href="https://join.benjamin-tietz.com/html/login.html" target="_blank"><button class="btn-live-test">Live test</button></a>
        <a href="https://github.com/BenjaminTietz/Join" target="_blank"><button class="btn-github">Github</button></a>
      </div>
      </div>
    </div>
    <div class="portfolio-content-wrapper reverse">
      <img src="assets/img/projects/el-pollo-loco.png">
      <div class="portfolio-description align-right">
        <h3>El Pollo Loco</h3>
        <p>JavaScript | HTML | CSS</p>
        <span>A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and chilli bottles to fight against the endboss chicken. </span>
      <div class="btn-container">
        <a href="https://el-pollo-loco.benjamin-tietz.com/" target="_blank"><button class="btn-live-test">Live test</button></a>
        <a href="https://github.com/BenjaminTietz/El_Pollo_Loco" target="_blank"><button class="btn-github">Github</button></a>
      </div>
      </div>
    </div>
    <div class="portfolio-content-wrapper">
      <img src="assets/img/projects/pokedex.png">
      <div class="portfolio-description align-left">
        <h3>Pokédex</h3>
        <p>JavaScript | HTML | CSS | Api</p>
        <span>Based on the PokéAPI a simple library that provides and catalogues pokemon information.</span>
      <div class="btn-container">
        <a href="https://pokedex.benjamin-tietz.com/index.html" target="_blank"><button class="btn-live-test">Live test</button></a>
        <a href="https://github.com/BenjaminTietz/Pokedex" target="_blank"><button class="btn-github">Github</button></a>
      </div>
      </div>
    </div>
    <div class="portfolio-content-wrapper reverse">
      <img src="assets/img/projects/pokedex.png">
      <div class="portfolio-description align-right">
        <h3>Simple CRM</h3>
        <p>Angular | Firebase</p>
        <span>A very Simple Customer Relationship Management system working with CRUD functionality.</span>
      <div class="btn-container">
        <button class="btn-live-test">Live test</button>
        <button class="btn-github">Github</button>
      </div>
      </div>
    </div>
  </div>
</section>
