@import "../styles.scss";

.page-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $bg-dark-blue;
  width: 100svw;

}