<div class="page-wrapper">
  <app-header *ngIf="showHeader"></app-header>
  <app-mobile-menu></app-mobile-menu>
  <app-startscreen *ngIf="showStartscreen"></app-startscreen>
  <app-about *ngIf="showAbout"></app-about>
  <app-skills *ngIf="showSkills"></app-skills>
  <app-portfolio *ngIf="showPortfolio"></app-portfolio>
  <app-contact-me *ngIf="showContactMe"></app-contact-me>
  <app-imprint *ngIf="showImprint"></app-imprint>
  <app-privacy-policy *ngIf="showPrivacyPolicy"></app-privacy-policy>
  <app-footer *ngIf="showFooter"></app-footer>
</div>

