<div class="page-wrapper">
  @if(this.showHeader) {<app-header></app-header>}
  <app-mobile-menu></app-mobile-menu>
  @if (this.showStartscreen) { <app-startscreen></app-startscreen>}

  @if (this.showAbout) { <app-about></app-about>}

  @if (this.showSkills) { <app-skills></app-skills>}

  @if (this.showPortfolio) { <app-portfolio></app-portfolio>}

  @if (this.showContactMe) { <app-contact-me></app-contact-me>}

  @if (this.showImprint) { <app-imprint></app-imprint>}

  @if (this.showPrivacyPolicy) { <app-privacy-policy></app-privacy-policy>}

  @if (this.showFooter) { <app-footer></app-footer>}

</div>