//Colors
@import "../assets/styles/colors.scss";


body {
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Poppins,sans-serif;
    background: $bg-dark-blue;
    color: $white;
}


.page-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $bg-dark-blue;
}



