.privacy-policy-wrapper  {
    position: absolute;
    top: 100px;
    height: fit-content;
    width: 100vw;
    max-width: 100%;
    z-index: 10;
    background-color: #141D2F;
    transition: all 225ms ease-in-out;
    color: white;
}

