@import "../../styles.scss";

.startscreen-wrapper {
  position: relative;
  height: calc(100svh - 100px);
  width: 100svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  padding-bottom: 20svh;
  overflow-y: hidden;
}

.home-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

button {
  width: 165px;
  height: 58px;
  border-radius: 10px;
  padding: 15px, 30px, 15px, 30px;
  gap: 10px;
  background-color: $light-green;
  color: $white;
  font-weight: 400;
  font-size: 23px;
  line-height: 27.6px;
  border-style: none;
  margin-top: 32px;
  z-index: 4;

  &:hover {
    cursor: pointer;
    filter: drop-shadow(rgba(0, 0, 0, 0.25));
    background-color: $purple;
    transition: all ease-in-out 125ms;
    transform: scale(1.1);
  }
}

.button-ger {
  width: 185px;
}

.portrait-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 4;
  height: fit-content;
  width: 100%;

  img {
    max-height: 80svh;
    transform: scaleX(-1);
  }
}

.portrait {
  position: relative;
  z-index: 1;
  height: 100%;
  object-fit: cover;


}

.portrait-background {
  position: absolute;
  width: 60svw;
  height: 100svh;
}

.startscreen-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10;


  .text-horizontal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 5;
    position: relative;
    margin-left: -60px;

    .headline-2 {
      font-weight: 700;
      font-size: 90px;
      color: $white;
      line-height: 108px;
      white-space: nowrap;
      margin-bottom: -15px;
    }

    .headline-3 {
      font-weight: 400;
      font-size: 58px;
      color: $purple;
      line-height: 69.6px;
      white-space: nowrap;
      margin-top: -15px;
    }
  }

  .headline-1 {
    height: 146px;
    font-weight: 400;
    font-size: 64px;
    color: $white;
    line-height: 76.8px;
    transform: rotate(-90deg);
    white-space: nowrap;
  }

  .headline-1-ger {
    height: 160px;
    font-weight: 400;
    font-size: 28px;
    color: $white;
    line-height: 43.8px;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-right: -28px;
  }

}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.scroll-down-alert {
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  height: max-content;
  z-index: 5;
  white-space: nowrap;
  position: absolute;
  bottom: 12svh;
  right: 3.5svw;

  img {
    width: 24px;
    height: 24px;
  }

  .scroll-down-animation {
    animation: moveUpandDown 2s ease-in-out infinite;

    @keyframes moveUpandDown {
      0% {
        transform: translateY(10px);
      }

      50% {
        transform: translateY(0px);
      }

      100% {
        transform: translateY(10px);
      }
    }
  }
}

.scroll-down-text {
  font-size: 23px;
  display: flex;
  transform: rotate(90deg);
}

.background-scroll {
  position: absolute;
  bottom: -20svh;
  right: -30px;
  width: 20svw;
  height: 40svh;
  z-index: 4;
}

.purple-line {
  width: 100px;
  height: 5px;
  background-color: $purple;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.startscreen-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10svh;
  width: 100svw;
  margin-top: -10svh;

}


.social-box {
  display: flex;
  align-items: center;
  gap: 42px;
  z-index: 5;
  margin-bottom: 15svh;

  .icon {
    transition: transform 0.175s ease;
  }

  .icon:hover {
    transform: scale(1.1);
  }

  // to-do adjust color -->traget #EE3E36
  .icon.github:hover {
    filter: invert(39%) sepia(87%) saturate(743%) hue-rotate(-2deg) brightness(96%) contrast(103%);
  }

  .icon.email:hover {
    filter: invert(45%) sepia(95%) saturate(500%) hue-rotate(180deg) brightness(100%) contrast(100%);
  }

  .icon.linkedin:hover {
    filter: invert(43%) sepia(94%) saturate(747%) hue-rotate(180deg) brightness(95%) contrast(105%);
  }
}

.my-email {
  color: $white;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-decoration: none;
  transition: transform 0.175s ease;

  &:hover {
    transform: scale(1.05);
    color: $light-green;
  }
}

.wave {
  position: absolute;
  top: 30svh;
  left: 0;
  width: 100svw;
  z-index: 4;
  aspect-ratio: auto;
}



@media screen and (max-width: 1600px) {


  .headline-1 {
    font-size: calc(32px + 1svh) !important;
    margin-top: 7px;
  }

  .headline-2 {
    font-size: calc(45px + 1svh) !important;
  }

  .headline-3 {
    font-size: calc(29px + 1svh) !important;
  }

}

@media screen and (max-width: 1400px) {
  .headline-1 {
    font-size: calc(36px + 0.5svh) !important;
    margin-top: 7px;
  }

  .headline-2 {
    font-size: calc(45px + 1svh) !important;
  }

  .headline-3 {
    font-size: calc(29px + 1svh) !important;
  }
}

@media screen and (min-width: 1400px) {
  .wave {
    position: absolute;
    top: 16svh;
    max-height: 135svh;
    width: 100% !important;
    z-index: 4;
  }
}


@media screen and (min-width: 1100px) {

  .wave {
    position: absolute;
    top: 40svh;
    max-height: 80svh;
    width: 100% !important;
    z-index: 4;
  }

}

@media screen and (max-width: 1100px) {


  .startscreen-right {
    position: absolute;
    bottom: 24svh;
  }

  .portrait {
    position: relative;
    height: 110%;
    width: 90%;
    object-fit: cover;
  }

  .portrait-background {
    position: absolute;
    width: 100svw;
    height: 100svh;
  }


  .text-wrapper {
    margin-top: 80px;
    max-width: 353px;
    max-height: 89px;
    gap: 10px;
    z-index: 6;

    .headline-1 {
      font-size: 32px !important;
      margin-top: -15px;
    }

    .headline-2 {
      font-size: 45px !important;
    }

    .headline-3 {
      font-size: 29px !important;
      margin-top: -50px;
    }
  }

  .home-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-container {
    margin-top: 20px;
  }

  .wave {
    position: absolute;
    top: 38svh;
    max-height: 70svh;
    width: 100% !important;
    z-index: 4;
  }

  .social-box {
    margin-bottom: 18svh;
  }
}

@media screen and (max-width: 850px) {
  .wave {
    top: 50svh;
  }

  .my-email {
    display: none;
  }


}

@media only screen and (max-width: 600px) {

  .text-wrapper {
    width: 353px;
    height: 89px;
    gap: 10px;
    z-index: 6;

    .headline-1 {
      font-size: 32px !important;
      margin-top: -15px;
    }

    .headline-2 {
      font-size: 45px !important;
    }

    .headline-3 {
      font-size: 29px !important;
      margin-top: -50px;
    }
  }

  .home-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .scroll-down-alert {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .startscreen-wrapper {
    height: 85svh !important;

  }

  .social-box {
    margin-top: 20svh;
    gap: 32px !important;
  }

  .wave {
    top: 45svh;
    max-height: 80svh;
  }

  .portrait-container {
    height: 50svh;
  }

  .startscreen-right {
    position: absolute;
    bottom: 24px;
  }

  .btn-container {
    margin-top: unset;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: unset;
      width: 133px !important;
      height: 49px !important;
      padding: 15px 30px 15px 30px !important;
      font-size: 23px !important;
      font-weight: 400 !important;
      line-height: 27.6px !important;
      text-wrap: nowrap;
    }
  }

  .text-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    z-index: 6;
    margin-top: unset;
    width: 90svw;

    .text-horizontal {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      z-index: 5;
      position: relative;
      margin-left: -150px;
    }

    .headline-1 {
      font-size: calc(32px - 5.5svw) !important;
      margin-top: 10px;
    }

    .headline-2 {
      font-size: calc(45px - 5.5svw) !important;
      white-space: wrap;
    }

    .headline-3 {
      font-size: calc(29px - 5.5svw) !important;
      margin-top: -60px;
      white-space: wrap;
    }
  }


}