.startscreen-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #141d2f;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}
.home-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90%;
  z-index: 4;
}
button {
  width: 165px;
  height: 58px;
  border-radius: 10px;
  padding: 15px, 30px, 15px, 30px;
  gap: 10px;
  background-color: #00bee8;
  color: white;
  font-weight: 400;
  font-size: 23px;
  line-height: 27.6px;
  border-style: none;
  margin-top: 32px;

  &:hover {
    cursor: pointer;
    filter: drop-shadow(rgba(0, 0, 0, 0.25));
    background-color: #9747ff;
    transition: all ease-in-out 125ms;
    transform: scale(1.1);
  }
}

.portrait-container {
  position: relative;
  z-index: 2;
}

.portrait {
  position: relative;
  z-index: 1;
  left: 50px;
  height: 705px;
  object-fit: cover;
}

.portrait-background {
  position: absolute;
  width: 646px;
  height: 705px;
  left: 50px;
}

.text-wrapper {
  width: 718px;
  height: 172px;
  gap: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .text-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .headline-1 {
    height: 172px;
    font-weight: 400;
    font-size: 64px;
    color: white;
    line-height: 76.8px;
    -webkit-transform: rotate(-90deg);
  }
  .headline-2 {
    font-weight: 700;
    font-size: 90px;
    color: white;
    line-height: 108px;
  }
  .headline-3 {
    font-weight: 400;
    font-size: 58px;
    color: #4b47ff;
    line-height: 69.6px;
  }
}
.purple-line {
  width: 100px;
  height: 5px;
  background-color: #4B47FF;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.startscreen-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-box {
  margin-top: 0;

  display: flex;
  align-items: center;
  gap: 42px;
  z-index: 5;

}
.my-email {
  color: white;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
}
.wave {
  position: absolute;
  top: 484.6px;
  width: 100%;
  height: 933.56px;
  z-index: 3;
}

.scroll-down-alert {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  height: max-content;
  z-index: 5;

  img {
    width: 24px;
    height: 24px;
    
  }
  .scroll-down-animation {
    animation: moveUpandDown 2s ease-in-out infinite;

    @keyframes moveUpandDown {
      0% {
        transform: translateY(10px);
      }

      50% {
        transform: translateY(0px);
      }

      100%{
        transform: translateY(10px);
      }
      
    }
  }
}

.scroll-down-text {
  font-size: 23px;
  display: flex;
  transform: rotate(90deg);
}

@media screen and (max-width: 1100px) {
  .startscreen-wrapper {
    height: 70vh;
}

  .portrait {
    position: relative;
    height: 448.11px;
    width: 410.61px;
    object-fit: cover;
  }



  .portrait-background {
    width: 646px;
    height: 448.11px;
    right: 50px;
  }

  .text-wrapper {
    margin-top: 70px;
    width: 353px;
    height: 89px;
    gap: 10px;
    z-index: 6;

    .headline-1 {
      font-weight: 400;
      font-size: 32px;
      color: white;
      line-height: 38.4px;
      -webkit-transform: rotate(-90deg);
    }

    .headline-2 {
      font-weight: 700;
      font-size: 45px;
      color: white;
      line-height: 54px;
    }

    .headline-3 {
      font-weight: 400;
      font-size: 29px;
      color: #4b47ff;
      line-height: 34.8px;
    }
  }

  .home-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wave {
    position: absolute;
    top: 360.6px;
    width: 100%;
    height: 50%;
    z-index: 3;
  }
}

@media screen and (max-width: 850px) {
  .my-email {
    display: none;
  }
}