<div class="align-column">
  <section routerLink="/" id="home">
    <div class="home-about">
      <img class="portrait" src="assets/img/hero character photo.png" />
      <div class="text-wrapper">
        <div class="headline-1">I am</div>
        <div class="text-horizontal">
          <div class="headline-2">BENJAMIN TIETZ</div>
          <div class="headline-3">Frontend Developer</div>
        </div>
      </div>
      <button>Let´s talk!</button>
      <img class="wave" src="assets/img/wave.png" />
      <div class="social-box">
        <div>
            <img src="assets/img/icons/Github button.png">
            <img src="assets/img/icons/Email button.png">
            <img src="assets/img/icons/Linkedin button.png">
            <a href= "mailto:benjamin0tietz@gmail.com">benjamin0tietz@gmail.com</a>
        </div>
      </div>
    </div>
  </section>
</div>
