<section routerLink="/" id="home">
  <div class="startscreen-wrapper">
    <div class="home-about">
      <div class="portrait-container">
        <img
          class="portrait-background"
          src="assets/img/background-elements/background-element_2.png"
        />
        <img class="portrait" src="assets/img/hero character photo.png" />
      </div>
      <div class="startscreen-right">
        <div class="text-wrapper">
          <div class="headline-1">I am</div>
          <div class="text-horizontal">
            <div class="headline-2">BENJAMIN TIETZ</div>
            <div class="headline-3">Frontend Developer</div>
          </div>
        </div>
        <div class="align-center">
          <button routerLink="/contact-me" fragment="contactMe">Let´s talk!</button>
        </div>
      </div>
    </div>
  </div>
  <img class="wave" src="assets/img/wave.png" />
  <div class="startscreen-bottom">
    <div class="social-box">
      <div class="purple-line"></div>
      <a href="https://github.com/BenjaminTietz" target="_blank"
        ><img src="assets/img/icons/Github button.png"
      /></a>
      <a href="mailto:benjamin0tietz@gmail.com"
        ><img src="assets/img/icons/Email button.png"
      /></a>
      <a
        href="https://www.linkedin.com/in/benjamin-tietz-071ba0289/"
        target="_blank"
        ><img src="assets/img/icons/Linkedin button.png"
      /></a>
      <span class="my-email">benjamin0tietz@gmail.com</span>
    </div>
    <div class="scroll-down-alert">
      <div class="scroll-down-text">Scroll down</div>
      <img
        class="scroll-down-animation"
        src="assets/img/icons/arrow-down-line.png"
      />
    </div>
  </div>
</section>
