.startscreen-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #141d2f;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: auto;
}
.home-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90%;
  padding-left: 50px;
  padding-right: 50px;
}
button {
  width: 165px;
  height: 58px;
  border-radius: 10px;
  padding: 15px, 30px, 15px, 30px;
  gap: 10px;
  background-color: #00bee8;
  color: white;
  font-weight: 400;
  font-size: 23px;
  line-height: 27.6px;
  border-style: none;
  margin-top: 32px;

  &:hover {
    cursor: pointer;
    filter: drop-shadow(rgba(0, 0, 0, 0.25));
    background-color: #9747ff;
    transition: all ease-in-out 125ms;
    transform: scale(1.1);
  }
}

.portrait-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 4;
  img {
    padding-top: 130px;
    max-width: 90%;
  }
}

.portrait {
  position: relative;
  z-index: 1;
  height: 705px;
  object-fit: cover;
}

.portrait-background {
  position: absolute;
  width: 646px;
  height: 705px;
}

.startscreen-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10;
  margin-left: auto;

  .text-horizontal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 5;
    position: relative;
    margin-left: -75px;
  }
  .headline-1 {
    height: 172px;
    font-weight: 400;
    font-size: 64px;
    color: white;
    line-height: 76.8px;
    -webkit-transform: rotate(-90deg);
    white-space: nowrap;
  }
  .headline-2 {
    font-weight: 700;
    font-size: 90px;
    color: white;
    line-height: 108px;
    white-space: nowrap;
  }
  .headline-3 {
    font-weight: 400;
    font-size: 58px;
    color: #4b47ff;
    line-height: 69.6px;
    white-space: nowrap;
  }
}

.align-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.scroll-down-alert {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  height: max-content;
  z-index: 5;
  white-space: nowrap;

  img {
    width: 24px;
    height: 24px;
  }
  .scroll-down-animation {
    animation: moveUpandDown 2s ease-in-out infinite;

    @keyframes moveUpandDown {
      0% {
        transform: translateY(10px);
      }

      50% {
        transform: translateY(0px);
      }

      100% {
        transform: translateY(10px);
      }
    }
  }
}

.scroll-down-text {
  font-size: 23px;
  display: flex;
  transform: rotate(90deg);
}

.purple-line {
  width: 100px;
  height: 5px;
  background-color: #4b47ff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.startscreen-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -140px;
}
.social-box {
  margin-top: 0;

  display: flex;
  align-items: center;
  gap: 42px;
  z-index: 5;
}
.my-email {
  color: white;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
}
.wave {
  position: absolute;
  top: 565px;
  width: 100% !important;
  height: auto;
  z-index: 4;
}
@media screen and (max-width: 1600px) {
  .headline-1 {
    font-size: calc(32px + 2vh) !important;
    margin-top: 5px;
  }

  .headline-2 {
    font-size: calc(45px + 2vh) !important;
  }
  .headline-3 {
    font-size: calc(29px + 2vh) !important;
  }
}

@media screen and (max-width: 1100px) {
  .portrait {
    position: relative;
    height: 90%;
    width: 90%;
    object-fit: cover;
  }

  .portrait-background {
    width: 646px;
    height: 448.11px;
    right: 75px;
  }

  .text-wrapper {
    margin-top: 80px;
    max-width: 353px;
    max-height: 89px;
    gap: 10px;
    z-index: 6;

    .headline-1 {
      font-size: 32px !important;
      margin-top: -15px;
    }

    .headline-2 {
      font-size: 45px !important;
    }
    .headline-3 {
      font-size: 29px !important;
      margin-top: -50px;
    }
  }

  .home-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .align-center {
    margin-top: 20px;
  }

  .wave {
    position: absolute;
    top: 640px;
    width: 100% !important;
    z-index: 4;
  }
}

@media screen and (max-width: 850px) {
  .my-email {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .portrait {
    position: relative;
    height: 90%;
    width: 90%;
    object-fit: cover;
  }

  .portrait-background {
    width: 646px;
    height: 448.11px;
    right: 15px;
  }

  .text-wrapper {
    margin-top: 70px;
    width: 353px;
    height: 89px;
    gap: 10px;
    z-index: 6;

    .headline-1 {
      font-size: 32px !important;
      margin-top: -15px;
    }

    .headline-2 {
      font-size: 45px !important;
    }
    .headline-3 {
      font-size: 29px !important;
      margin-top: -50px;
    }
  }

  .home-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .scroll-down-alert {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .home-about {
    padding: 0;
  }
  .startscreen-right {
    width: 100%;
  }
  .text-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    gap: 20px;
    z-index: 6;
    .text-horizontal {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      z-index: 5;
      position: relative;
      margin-left: -150px;
    }
    .headline-1 {
      font-size: calc(32px - 2.5vw)!important;
      margin-top: 10px;
    }

    .headline-2 {
      font-size: calc(45px - 2.5vw)!important;
      white-space: wrap;
    }
    .headline-3 {
      font-size: calc(29px - 2.5vw)!important;
      margin-top: -60px;
      white-space: wrap;
    }
  }

  .social-box {
    gap: 30px;
  }
  .startscreen-bottom {
    margin-top: -50px;
  }

  .wave {
    top: 450px;
  }
}
@media only screen and (max-width: 380px) {
  .text-wrapper {
    margin-top: 70px;
    width: 280px;
    gap: 10px;
    z-index: 6;
    .text-horizontal {
    margin-left: -125px;
    }
    .headline-1 {
      font-size: calc(32px - 5vw)!important;
      margin-top: 10px;
    }

    .headline-2 {
      font-size: calc(45px - 5vw)!important;
      white-space: wrap;
    }
    .headline-3 {
      font-size: calc(29px - 5vw)!important;
      margin-top: -60px;
      white-space: wrap;
    }
  }
  .align-center {
    margin-top: -15px;
  }
}

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {}
