<section routerLink="/" id="home">
  <div class="startscreen-wrapper">
    <div class="home-about">
      <div class="portrait-container">
        <img class="portrait-background" src="assets/img/background-elements/background-element_2.png"
          data-aos="fade-in" data-aos-delay="300" />
        <img class="portrait" src="assets/img/pictures-ben/ben.png" data-aos="fade-in" data-aos-delay="900" />
      </div>
      <div class="startscreen-right">
        <div class="text-wrapper">
          @if (this.showEnglishVersion) {
          <div class="headline-1" data-aos="zoom-in">I am</div>
          } @else { <div class="headline-1-ger" data-aos="zoom-in">Ich bin</div>}
          <div class="text-horizontal">
            @if (this.showEnglishVersion) {
            <div class="headline-2" data-aos="zoom-in" data-aos-delay="900">BENJAMIN TIETZ</div>
            } @else { <div class="headline-2" data-aos="zoom-in" data-aos-delay="900">BENJAMIN TIETZ</div>}
            @if (this.showEnglishVersion) { <div class="headline-3" data-aos="fade-left" data-aos-delay="1800">Frontend
              Developer</div>} @else { <div class="headline-3" data-aos="fade-left" data-aos-delay="1800">Frontend
              Entwickler</div>}

          </div>
        </div>
        <div class="btn-container">
          @if (this.showEnglishVersion) { <button routerLink="/contact-me" fragment="contactMe">Let´s talk!</button>}
          @else { <button class="button-ger" routerLink="/contact-me" fragment="contactMe">Lass uns reden!</button>}

        </div>
      </div>
    </div>
    <div class="scroll-down-alert">
      <div class="scroll-down-content">
        @if (this.showEnglishVersion) {<span>Scroll down</span> }
        @else { <span>Scroll runter</span> }
        <img class="scroll-down-animation" src="assets/img/icons/arrow-down-line.png" />
      </div>
    </div>
  </div>
  <img class="wave" src="assets/img/background-elements/wave.png" />
  <div class="startscreen-bottom">
    <div class="social-box">
      <div class="purple-line"></div>
      <a href="https://github.com/BenjaminTietz" target="_blank">
        <img class="icon github" src="assets/img/icons/github.png" />
      </a>
      <a href="mailto:mail@benjamin-tietz.com">
        <img class="icon email" src="assets/img/icons/email.png" />
      </a>
      <a href="https://www.linkedin.com/in/benjamin-tietz/" target="_blank">
        <img class="icon linkedin" src="assets/img/icons/linkedin.png" />
      </a>
      <a class="my-email" href="mailto:mail@benjamin-tietz.com">mail&#64;benjamin-tietz.com</a>
    </div>
    <img class="background-scroll" src="assets/img/background-elements/background-element_6.png" />
  </div>
</section>