/*global colors*/

$light-blue: #1CDAE6;
$bg-dark-blue: #141D2F;
$purple: #9747FF;
$white: #ffffff;
$form-attention: #E61C40;
$form-success: #70E61C;
$light-green: #70E61C;


body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: $bg-dark-blue;
}

html {
  scroll-behavior: smooth;
}

//custom scrollbar
::-webkit-scrollbar {
  width: 6px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $light-green;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: $bg-dark-blue;
}

.padding-left-32 {
  padding-left: 32px;
}

.padding-right-32 {
  padding-right: 32px;
}