body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #1cdae6 #141d2f;
  }

  /* Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-track {
    background: #141d2f;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #1cdae6;
    border-radius: 10px;
    border: 0px solid #ffffff;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.angular-filter {
  filter: invert(10%) sepia(99%) saturate(3776%) hue-rotate(337deg) brightness(129%) contrast(114%);
}